.footer {
  height: 77vh;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255),
    /* rgb(255, 255, 255), */ #fdd4b6
  );
  /* display: block; */
  position: relative;
}
.footer-content {
  width: 100%;
}
.footer-logo img {
  width: 300px;
  height: 300px;
  position: relative;
  top: 8rem;
  right: 4rem;
}
.footer-our-company {
  position: relative;
  top: 8rem;
  font-size: 1.1rem;
  color: #fc7613;
  font-weight: 600;
  line-height: 4rem;
}
.footer-our-business {
  position: relative;
  top: 8rem;
  font-size: 1.1rem;
  color: #fc7613;
  font-weight: 600;
  line-height: 4rem;
}
.footer-contact-us {
  position: relative;
  top: 9rem;
  color: #fc7613;
  width: 200px;
}
.footer-content li:nth-child(1) {
  /* padding: 0.7rem 0; */
  padding: 0;
  margin: 0;
  width: 170px;
  border-bottom: 2px solid #fc7613;
}
ul li {
  list-style: none;
  text-decoration: none;
}
.our-company-links,
.our-business-links,
.contact-us-links {
  text-decoration: none;
  font-size: 1.1rem;
  color: #fc7613;
  font-weight: 600;
}

.our-company-links:hover,
.our-business-links:hover,
.contact-us-links:hover {
  color: #622e2a;
}
.footer-copyright {
  height: 1vh;
  border-top: 0.1px solid #fc7613;
  border-radius: 50%;
  /* background-color: #fc7613; */
  position: absolute;
  /* top: 15vh; */
  bottom: 1rem;
  width: 100%;
  padding: 0 1rem;
}
/* .footer::before {
  content: "";
  height: 18.3vh;
  width: 100%;
  /* background-color: rgb(254, 245, 239); */
/* background-color: #622e2a; */
/* background-color: rgb(248, 195, 158); */
/* position: absolute; */
/* top: -18.3vh; */
/* top: 381.5vh; */
/* transform: translateY(50%) skewY(-5deg); */
/* } */
