.super-market-banner {
  width: 100%;
  height: 118.3vh;
}
.super-market-component-a,
.super-market-component-b,
.super-market-component-c {
  width: 100%;
  height: 100vh;
  position: relative;
}
.super-market-component-a {
}
.super-market-component-b {
  background-color: rgb(253, 231, 159);
}
.super-market-component-c {
  background-color: rgb(255, 198, 181);
}
.super-market-component-a::after,
.super-market-component-b::after,
.super-market-component-c::after {
  content: "";
  height: 18.3vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: 0;
  z-index: 1;
  transform: translateY(50%) skewY(-5deg);
}
.super-market-component-a::before {
  content: "";
  height: 18.3vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: -18.3vh;
  z-index: 1;
  transform: translateY(50%) skewY(-5deg);
}
.super-market-component-b::after {
  background-color: rgb(253, 231, 159);
}
.super-market-component-c::after {
  background-color: rgb(255, 198, 181);
}
