.component-a {
  position: relative;
  height: 81.7vh;
  width: 100%;
  background-color: rgb(246, 246, 246);
}
.component-b {
  position: relative;
  background: url("../../pictures/clock.jpg") no-repeat fixed center;
  /* background-position: center; */
  background-size: cover;

  height: 120vh;
  width: 100%;
  /* background-color: rgb(250, 173, 159); */
}
.component-c {
  position: relative;
  height: 60vh;
  width: 100%;
  background-color: aliceblue;
  .content {
    position: relative;
    top: -5%;
    // left: 10%;
    z-index: 1;
    width: 106%;
    padding: 1rem;
    // margin: 1rem;
    // padding-left: 1rem;
    .content-1,
    .content-2,
    .content-3,
    .content-4 {
      // border: 2px solid;
      height: 35vh;
      margin: 1rem;
      width: 22%;
      box-shadow: 0px 2px 10px 2px rgb(105, 104, 104);
      padding: 2rem;
    }
    .content-1:hover,
    .content-2:hover,
    .content-3:hover,
    .content-4:hover {
      box-shadow: 0px 2px 10px 4px rgb(105, 104, 104);
    }
    .content-header {
      h1 {
        text-align: center;
      }
    }
  }
}
.component-d {
  position: relative;

  height: 80vh;
  width: 100%;
  // background-color: rgb(248, 195, 158);
  background: url("../../pictures/world-map.png") no-repeat;
  background-position: center;
  background-size: cover;
  .content {
    position: relative;
    top: 18vh;
    padding: 3rem;
  }
  .content-1,
  .content-2,
  .content-3,
  .content-4 {
    padding: 2rem;
    text-align: center;
  }
  img {
    height: 7vh;
  }
  h4 {
    font-weight: 600;
  }
}

.component-a::before {
  content: "";
  height: 18.3vh;
  width: 100%;
  background-color: rgb(246, 246, 246);

  /* background-color: rgb(0, 0, 0); */
  position: absolute;
  /* bottom: 0; */
  top: -18.3vh;
  /* top: 81.5vh; */
  transform: translateY(50%) skewY(-5deg);
}
.component-a::after {
  content: "";
  height: 18.3vh;
  width: 100%;
  background-color: rgb(246, 246, 246);

  /* background-color: rgb(0, 0, 0); */
  position: absolute;
  bottom: 0;
  z-index: 1;
  /* top: -18.3vh; */
  /* top: 81.5vh; */
  transform: translateY(50%) skewY(-5deg);
}

.component-b::before {
  content: "";
  height: 18.3vh;
  width: 100%;
  /* background-color: rgb(250, 173, 159); */
  /* background: transparent; */
  /* z-index: 12; */
  /* opacity: 0.4; */
  position: absolute;
  /* bottom: 0; */
  top: -18.3vh;
  transform: translateY(50%) skewY(-5deg);
}
.component-c::after {
  content: "";
  height: 18.3vh;
  width: 100%;
  background-color: aliceblue;

  position: absolute;
  /* bottom: 0; */
  top: -18.3vh;
  transform: translateY(50%) skewY(-5deg);
}
.component-d::after {
  content: "";
  height: 18.3vh;
  width: 100%;
  // background-color: rgb(255, 255, 255);
  background-color: aliceblue;

  position: absolute;
  /* bottom: 0; */
  top: -18.3vh;
  transform: translateY(50%) skewY(-5deg);
}
.component-d::before {
  content: "";
  height: 18.3vh;
  width: 100%;
  // background-color: rgb(248, 195, 158);

  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: 0vh;
  // top: 20vh;
  /* bottom: 20rem; */
  /* top: 381.5vh; */
  transform: translateY(50%) skewY(-5deg);
  z-index: 0;
}

.component-a > .content {
  position: absolute;
  top: 10%;
  left: 10%;
  height: 80%;
  z-index: 2;
  width: 80%;
  /* border: 2px solid;
  padding: 3rem; */
}
.content-img > img {
  width: 100%;
  height: 100%;
  /* z-index:; */
}
.component-b {
  .content {
    border: 2px solid white;
    padding: 2rem;
    position: absolute;
    top: 25%;
    left: 10%;
    width: 80%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.311);
    color: white;
    h1 {
      font-weight: 600;
    }
    p {
      font-size: 1.1rem;
      line-height: 2rem;
      text-align: justify;
    }
  }
}
