.contact-us {
  width: 100%;
  position: relative;
}

.contact-links {
  /* z-index: 10; */
  position: absolute;
  top: 22vh;
}
.contact-banner {
  /* position: relative; */
  /* top: 0vh; */
  height: 100vh;
  width: 100%;
}
.contact-logo {
  font-size: 8rem;
  /* height: 8rem; */
  width: rem;
  border: none;
  background-color: transparent;
  opacity: 0;
  position: relative;
  /* display: flex; */
  /* justify-content: center; */
  /* top: 19.5rem; */
  /* padding: 9rem; */
  justify-content: center;
  z-index: 1;
  left: 1.8rem;
  color: wheat;
}
.contact-logo:nth-child(2) {
  left: 3rem;
}
.contact-logo:nth-child(3) {
  left: 4rem;
}

button {
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.979);
  border-radius: 3rem;
  /* border: none; */
  width: 22.5rem;
  height: 5rem;
  /* opacity: 0; */
}
.contact-logo:hover .contact-logo {
  opacity: 1;
}
button:hover .contact-logo {
  opacity: 0.5;
}
/* .button:hover {
  background-color: white;
} */
.contact-logo:nth-child(2) {
  color: aqua;
}
